---
interface Props {
	title?: string;
	description?: string;
}

const {
	title = 'Angelica Porcelli Photography',
	description = 'A modern photography portfolio featuring nature, animals, portrait, and street collections.',
} = Astro.props;

import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="/AP_filigrana.png" />
		<link rel="apple-touch-icon" href="/AP_filigrana.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
